:root {
	--main-bg-color: #282c34;
	--text-color: rgb(205, 205, 205);
	--box-bg-color: #424955;
	--track-bg-color: rgba(46, 50, 58, 0.5);
	--thumb-corner-color: #1f91dd;
	--thumb-hover-color: #4998cc;
	--thumb-width: 8px;
	--thumb-height: 8px;
}

* {
	margin: 0;
	padding: 0;
	color: var(--text-color);
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
	background: var(--main-bg-color);
}
