@import '../global.css';

.box1 {
	overflow: auto;
	overflow-y: scroll;
}

/* width */
.box1::-webkit-scrollbar {
	width: var(--thumb-width);
}

/* Track */
.box1::-webkit-scrollbar-track {
	background-color: var(--track-bg-color);
}

/* Handle */
.box1::-webkit-scrollbar-thumb {
	background-color: var(--thumb-corner-color);
	border: none;
}

.box1::-webkit-scrollbar-thumb:hover {
	background-color: var(--thumb-hover-color);
}
