@import './style.css';

.box2 {
	overflow: auto;
	overflow-x: scroll;
	overflow-y: scroll;
}

/* width */
.box2::-webkit-scrollbar {
	width: var(--thumb-width);
	height: var(--thumb-height);
}

/* Track */
.box2::-webkit-scrollbar-track {
	background-color: var(--track-bg-color);
}

/* Corner */
.box2::-webkit-scrollbar-corner {
	background-color: var(--thumb-corner-color);
}

/* Handle */
.box2::-webkit-scrollbar-thumb {
	background-color: var(--thumb-corner-color);
	border: none;
}

.box2::-webkit-scrollbar-thumb:hover {
	background-color: var(--thumb-hover-color);
}
