@import "../global.css";
@import './scroll-y.css';
@import './scroll-xy.css';

.container {
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: auto;
    column-gap: 10px;
    row-gap: 10px;
	
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background-color: var(--main-bg-color);
}

.box {
	padding: 24px;
	height: 400px;
	width: 400px;
	border-radius: 10px 0 0 10px;

	text-align: justify;
    background-color: var(--box-bg-color);
    box-sizing: border-box;
}